@import './theme-light.css';
@import './theme-dark.css';

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: var(--md-font-family);
  font-size: var(--md-font-size-base);
  background: var(--md-color-surface-variant);
  color: var(--md-color-on-surface);
}

button {
  font-family: inherit;
}
